<% include partials/header %>
<div class="container">
<h1><%= Campground.name %></h1>

<img src="<%= Campground.image %>" alt="image of a campground">

<p><%= Campground.description %></p>

</div>
<% include partials/footer %>